<nav class="navigation">
	<section class="container">

		<a class="navigation-title" href="/">
			<i class="fa fa-asterisk hidden-xs" aria-hidden="true"></i>
			<h1 class="title"><span class='celeste'>Data</span>Science<sup class='sol'>AR</sup><span class='celeste'>.io</span></h1>
		</a>
		<div class='navigation-list pull-right'>
			
			<a class="navigation-link" href="/aboutus" id='about'><i class="fa fa-users" aria-hidden="true"></i></a>
			
			<a class="button sumate" href="#"><i class="fa fa-hashtag" aria-hidden="true"></i>Sumate</a>
		</div>
	</section>
</nav>
