<nav class="navigation">
	<section class="container">

		<a class="navigation-title" href="/">
			<i class="fa fa-asterisk" aria-hidden="true"></i>
			<h1 class="title">DataScienceAR.io</h1>
		</a>
		<div class='navigation-list pull-right'>
			
			<a class="navigation-link" href="/contacto"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
			<a class="button sumate" href="#"><i class="fa fa-hashtag" aria-hidden="true"></i>Sumate</a>
		</div>
	</section>
</nav>