<div class='container' id='aboutus'>
	<!-- <div class="row"> -->
	<div class="row stat">
		<div class='col-sm-12'>

			<h2>Misión</h2>
			<p>Democratizar la difusión y el acceso al Data Science.</p>
			<h2>¿Quiénes somos?</h2>
			<p>Somos un grupo de data scientists, data geeks e innovadores que nos unimos para promover y diseminar la ciencia de datos.
			Somos completamente independientes y no estamos asociados a ninguna marca o vendor.
			Está invitado a unirse cualquiera que tenga un interés y curiosidad por los datos.</p>
			<h2>¿Qué hacemos?</h2>
			<p>Organizamos eventos para discutir y charlar sobre nuevos métodos, herramientas, tecnologías y tendencias.
			Promovemos e incentivamos la ciencia de Datos en Argentina.
			Generamos espacios para hablar: Data Mining, Machine Learning, Análisis Predictivo, Inteligencia Artificial, Métodos de Clasificación, Big Data, Visualización y más...
			Alentamos el aprendizaje y la colaboración entre todos los que trabajan con datos.</p>
			<h3>Vamos a organizar muchas actividades:</h3>
			<ul>
				<li>Meetups</li>
				<li>Hackathones</li>
				<li>Concursos de Análisis de datos</li>
				<li>Charlas sobre tecnologías nuevas</li>
				<li>Juntarnos a tomar una cerveza!</li>
			</ul>

		</div>
	</div>
</div>




<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
