<div class='container' id='aboutus'>
	<!-- <div class="row"> -->
	<div class="row stat">
		<div class='col-sm-12'>

			<h2>Misión</h2>
			<p>Data Science AR es una organización sin fines de lucros dedicata a promover y diseminar la ciencia de datos.
			Somos una comunidad de data scientits, data geeks, innovadores y están invitados a unirse cualquiera que tenga un interes y curiosidad por los datos.</p>
			<h2>¿Qué hacemos?</h2>
			<p>Nos juntamos a discutir y charlar sobre nuevos métodos, herramientas y tecnologías.
			Promovemos e incentivamos la ciencia de Datos en Argntina.
			Somos completamente independientes y no estamos asociados a ninguna marca o vendor, como SAS.
			Discutimos cosas de: Data Mining, Machine Learning, Analisis predictivo, inteligencia artificial, métodos de clasificación, Big data, análisis estadistico y más...
			Alentamos el aprendisaje y la colaboración entre todos los que trabajan con datos.</p>
			<h3>Vamos a organizar muchas actividades:</h3>
			<ul>
				<li>Meetups</li>
				<li>Hackathones</li>
				<li>Concursos de Análisis de datos</li>
				<li>Charlas sobre tecnologías nuevas</li>
				<li>Juntarnos a tomar una cerveza!</li>
			</ul>

		</div>
	</div>
</div>




<script src="https://code.jquery.com/jquery-3.0.0.min.js" integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0=" crossorigin="anonymous"></script>
