

<div class='container' id='landing'>
	<!-- <div class="row"> -->
		<div class="portada row">
            <h1>Democratizando la Ciencia de Datos</h1>
            <h2>En la comunidad vamos a aprender, conectarnos y jugar con datos.</h2>
        </div>
        <div class="fit  row">
        	<div class="row parent">
			    <div class="col-sm-4 ">
			    	<div class='stat'>
				    	<img src='/images/icon/slack.png' class='icon' alt='icon' />
				    	<h3>Comunicáte!</h3>
				    	<p>Sumáte al canal de <a href='#' class='sumate'><strong>Slack!</strong></a><br>
				    	Y mantenéte siempre actualizado.</p>
			    	</div>
			    </div>
			    <div class="col-sm-4">
			    	<div class='stat'>
				    	<img src='/images/icon/beer.png' class='icon' alt='icon'/>
				    	<h3>Divertíte!</h3>
				    	<p>Conocé gente de tu palo y pasála bien compartiendo una cerveza mientras charlás de Data Science.</p>
			    	</div>
			    </div>
			    <div class="col-sm-4">
			    	<div class='stat'>
				    	<img src='/images/icon/poll.png' class='icon' alt='icon'/>
				    	<h3>Compartí!</h3>
				    	<p>Participá de la <a href='http://goo.gl/forms/ospSIZ4OBJhniLfp1' id='encuesta' target='_blank'><strong>encuesta</strong></a> de sueldos de Data Scientists.<br>
				    	Sumá tu dataset para que lo analicemos entre todos!</p>
			    	</div>
			    </div>
			</div>
		</div>
		 <!-- <div class="fit  row">
        	<div class="row parent">
			    <div class="col-sm-4 ">

			    </div>
			    <div class="col-sm-4">
			    	<div class='arrow'></div>
			    	<div class='stat'>
				    	<h4>Data &amp; Beers!</h4>
				    	<p>Nos juntamos el <strong>jueves 28/7</strong> a partir de las <strong>19 hs</strong> en un bar a confirmar dependiendo de cuántos vayamos y la zona que elija la mayoría.
						Para anotarte entrá en <strong><a href='http://goo.gl/forms/BeFuVEIXBwzwXyrf2' target='_blank'>acá </a></strong> y completá tu nombre, mail, la zona donde preferís y si conocés algún bar que quieras sugerir.

						<br><strong>Te esperamos.</strong></p>
			    	</div>
			    </div>
			    <div class="col-sm-4">
			    </div>
			</div>
		</div> -->
  	<!-- </div> -->
</div>

<div id="triangles">
  <div id="output">
  </div>
  <img src='/images/background/backMobile.png' class='mobile visible-xs-*' alt='background'/>

</div>

<script>
var fondo = false;
if (screen && screen.width > 768) {
  document.write('<script src="/javascripts/triangles.js"><\/script>');
}

$(window).resize( function(){
  $("#triangles").width( $('body').width() ).height( $('body').height() );
  if (screen && screen.width > 768 && !fondo) {
   	$.getScript('/javascripts/triangles.js').done(function(){triangles();});
   }
});

window.onload = function() {
  // Run code
  if (screen && screen.width > 768 ) {
	  $("#triangles").width( $('body').width() ).height( $('body').height() );
	  triangles();
  }

  
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80041310-1', 'auto');
  ga('send', 'pageview');

};


</script>
