

<div class="container">
	<div class="row">

		<div class="portada">
            <h1>El lugar para el DS Porteño</h1>
            <h2>En la comunidad vamos a aprender, conectarnos y jugar con datos.</h2>
        </div>
	    <div class="col-md-4">
	    	<div class='stat'>
		    	<img src='/images/icon/slack.png' class='icon'/>
		    	<h3>Comunicate!</h3>
		    	<p>Sumate al canal de <strong>Slack!</strong>
	    	</div>
	    </div>
	    <div class="col-md-4">
	    	<div class='stat'>
		    	<img src='/images/icon/beer.png' class='icon'/>
		    	<h3>Compartí</h3>
		    	<p>Sumá tu data set para que lo analicemos entre todos!</p>
	    	</div>
	    </div>
	    <div class="col-md-4">
	    	<div class='stat'>
		    	<img src='/images/icon/poll.png' class='icon'/>
		    	<h3>Aprendé!</h3>
		    	<p>Participá de la encuesta de sueldos de Data Scientists</p>
	    	</div>
	    </div>
  	</div>
</div>

<div id="triangles">
  <div id="output">
  </div>


</div>



<script src='/javascripts/triangles.js'></script>